HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
/client-service/target/
/grpc-service/target/
/proto/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
proto/src/main/java/com/devproblems/Schema.java
proto/src/main/java/com/devproblems/BookOrBuilder.java
proto/src/main/java/com/devproblems/BookAuthorServiceGrpc.java
proto/src/main/java/com/devproblems/Book.java
proto/src/main/java/com/devproblems/AuthorOrBuilder.java
proto/src/main/java/com/devproblems/Author.java
